@{
    ViewBag.Title = "Home Page";
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Elementary School</title>

        <style>
            *{
                margin:0;
                padding:0;
                box-sizing:border-box;
            }
            
            
        </style>
    </head>
    
    <body>
        <img src="~/Images/1051.jpg" alt="SchoolImage" id="schoolImg" class="img-responsive">

    </body>
    </html>


<div class="row">
    <div class="col-md-4">
        <h2 class="text-muted">Our School</h2>
        <img src="~/Images/1051.jpg" alt="OurSchool" class="img-responsive" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-muted">Classroom</h2>
        <img src="~/Images/631.jpg" alt="Classroom" class="img-responsive"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-muted">Our Teachers</h2>
        <img src="~/Images/undraw_teacher_35j2.png" alt="Teacher"  class="img-responsive"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>